/* Header background color */
#header {
    background-color: #388E3C; /* Darker Green */
}

/* App Columns */
.module caption, .module h2, div.breadcrumbs {
    background-color: #66BB6A; /* Lighter Green */
}

/* Hover effects for buttons */
.button:hover, .action-button:hover {
    background-color: #388E3C; /* Darker Green */
    border-color: #4CAF50; /* Green */
}
