{% extends "admin/base_site.html" %}
{% load static %}

{% block title %}Internship Tracker{% endblock %}

{% block branding %}
	<h1 id="site-name">
	{% if 'admin' in request.path %}
		<a href="{% url 'admin:index' %}">Admin Dashboard</a>
	{% elif 'intern' in request.path %}
		<a href="{% url 'intern:index' %}">Intern Dashboard</a>
	{% endif %}
	</h1>
{% endblock %}

{% block extrahead %}
{{ block.super }}

	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

	<link rel="stylesheet" type="text/css" href="{% static 'css/base_site.css' %}">

	{% if 'admin' in request.path %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/admin_site.css' %}">
	{% elif 'intern' in request.path %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/intern_ui.css' %}">
	{% endif %}

	<script type="text/javascript" src="{% static 'js/base_site.js' %}"></script>

{% endblock %}

{% block nav-global %}{% endblock %}
